meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Marco referencial de seguridad alimentaria y nutricional con enfoque en derecho humano a la alimentación.
meta(meta name="description" content="Por medio de este componente formativo podrá reconocer los referentes normativos a nivel nacional en Seguridad Alimentaria y Nutricional (SAN) basado en el enfoque de Derecho Humano a la Alimentación (DHA) presentando la situación nutricional actual en Colombia para los niños y niñas en su primera infancia y mujeres en estado de gestación.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")