h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body
                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Política Nacional en Seguridad Alimentaria y Nutricional (SAN)', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Derecho Humano a la alimentación como nuevo enfoque de la Política SAN', 'main.html#page/tema-2/')
                    +navTemaItem('3', 'Situación nutricional en Colombia', 'main.html#page/tema-3/')               
                    +navTemaItem('4', 'Política de Estado para el Desarrollo Integral de la primera infancia de cero a siempre', 'main.html#page/tema-4/')  
                    +navTemaItem('5', 'Plan Decenal de Lactancia Materna', 'main.html#page/tema-5/')  
                    +navTemaItem('6', 'Ruta integral de atención para la promoción y mantenimiento de la salud', 'main.html#page/tema-6/')  