h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 230101239-01]. Reconocer los referentes en seguridad alimentaria y nutricional teniendo en cuenta marco normativo nacional e internacional.






