h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Aplicar los conceptos de la práctica de Telesalud de acuerdo con lineamientos normativos.






