.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Interconsulta: 
            | acción de remitir un paciente de un profesional de la salud a la valoración con un especialista de otra unidad para un diagnóstico complementario.  
        hr

        p
            strong.mr-2 Método de comunicación asincrónico: 
            | los textos, imágenes y datos son transmitidos, sin la necesidad de que la persona que emite o recibe esté presente en tiempo real. 
        hr

        p
            strong.mr-2 Método de comunicación sincrónico:
            | tanto el que emite la comunicación como el que la recibe se encuentran presentes en sus equipos de cómputo o equipos de procesamiento de datos, en el mismo momento de la emisión de la información. Es una transmisión en vivo y en directo, en línea y en tiempo real (Ministerio de Salud, 2019).

        hr

        p
            strong.mr-2 Prestador remisor de telemedicina: 
            | ante limitaciones de acceso o de la capacidad resolutiva, cuenta con TIC que permiten enviar y recibir información para prestar servicios o ser apoyado por otro en la solución de las necesidades de salud.

        hr

        p
            strong.mr-2 Prestador de referencia de telemedicina: 
            | cuenta con talento humano de salud capacitado y TIC suficientes y necesarias para brindar a distancia el apoyo requerido por otro prestador o por un usuario.

        hr

        p
            strong.mr-2 Promotor de salud:
            | individuo que proporciona información sobre una temática y es capaz de sensibilizar y ayudar a las personas, propiciando la modificación de conductas para lograr un bienestar en la salud.            