.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Ministerio de Salud y Protección Social, 2019, Nuevo Marco Reglamentario para la Telesalud en Colombia.
                    td PDF
                    td 
                        a(href="media/documentos/Marco_Reglamentario_para_la_Telesalud_en_Colombia.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver
                tr
                    td Ministerio de Salud 2020, Telesalud y telemedicina para la prestación de servicios de salud en la pandemia por COVID-19.  
                    td PDF
                    td 
                        a(href="media/documentos/Telesalud_y_telemedicina_prestacion_servicios salud_pandemia_covid19.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver