include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Prevención de la anemia para ser crecer y aprender
        meta(meta name="description" content="Informacioón del programa Prevención de la anemia para ser crecer y aprender.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Prevención de la anemia para ser crecer y aprender
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-color-dark
                                        li 
                                            span #[strong Nombre del programa:] Prevención de la anemia para ser crecer y aprender
                                        li 
                                            span #[strong Código:] 33130201
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de Ingreso:] agentes educativos institucionales.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/o9vgLKmMmgc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Todos los esfuerzos para la prevención y control de la anemia son necesarios para favorecer la salud y calidad de vida especialmente de los niños y niñas menores de 5 años, de las mujeres gestantes y madres en periodo de lactancia.
                
                p Por lo anterior, este curso permite a los aprendices reconocer los referentes normativos a nivel nacional en seguridad alimentaria y nutricional con enfoque en derecho humano a la alimentación. De igual manera, se brindarán los elementos conceptuales relacionados con la atención integral a la primera infancia y sobre las atenciones en nutrición materno infantil desde el sector salud. En este marco puede identificar la situación nutricional actual en Colombia para los cursos de vida referidos.
                
                p Por consiguiente se logran identificar el concepto y los factores relacionados con la anemia nutricional, considerando elementos sociales y culturales, entre otros. Así mismo, reconocer los factores protectores a través de un acercamiento a los principios de una alimentación saludable, la importancia del consumo adecuado de vitaminas y minerales en la alimentación diaria y énfasis en las guías alimentarias para la población Colombiana, que tienen como objetivo orientar a las familias en la adopción de estilos de vida y prácticas de alimentación saludables, culturalmente apropiadas, que contribuyan a la prevención de la malnutrición y enfermedades no transmisibles, en mujeres gestantes, madres en periodo de lactancia y niños y niñas menores de 2 años.
                
                p Finalmente, como parte fundamental de las acciones de prevención, se promoverá en el aprendiz el uso de herramientas educativas para la prevención de la anemia, considerando metodologías de información, educación y comunicación, partiendo de la actual oferta institucional en los diferentes entornos.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 La anemia nutricional tiene consecuencias graves para la salud y la economía de la familia y del país. La anemia ferropénica compromete la habilidad del niño para aprender, lo que limita sus perspectivas de futuro dificultando así el desarrollo de la población. La anemia en el embarazo aumenta el riesgo de aborto involuntario, mortinato y bajo peso al nacer, aumentando así el riesgo de mortalidad infantil, complicaciones en el parto causando hemorragias, aumentando el riesgo de depresión y mortalidad materna. También tiene efectos sobre la salud del bebé incluyendo un mayor riesgo de retraso en el crecimiento, ceguera, enfermedades graves, disminución del rendimiento cognitivo, defectos espinales y cerebrales. Por lo tanto, la inversión en prevención, control y tratamiento de malnutrición por deficiencia de micronutrientes resulta en una mejora del estado de salud, una reducción de la mortalidad infantil y materna, y mejores resultados con una relación de costo - beneficio de casi 1 a 13.

                p Según la Escuela Nacional de Situación Nutricional (ENSIN) 2015, uno de cada cuatro niños y niñas de 1 a 4 años (24,7 %) presenta anemia, para mujeres de 13 a 17 años la prevalencia fue de 10.4% y para mujeres gestantes de 13 a 49 años la prevalencia de anemia fue de 26.2%. En relación con la anemia por deficiencia de hierro, la encuesta mostró de igual forma que 1 de cada 4 niños y niñas de 1 a 4 años (26.1%), presentan esta condición, para mujeres de 13 a 17 años la prevalencia fue de 34.1% y para mujeres gestantes de 13 a 49 años la prevalencia de anemia fue de 59.2%. Sus causas son múltiples y se encuentran relacionadas directamente con aspectos alimentarios, que pueden generar deficiencias en los diferentes micronutrientes, así mismo puede estar asociado a la presencia de enfermedades infecciosas o pérdidas de sangre recurrente o en grandes cantidades. Dichas condiciones son más frecuentes en hogares con mayor vulnerabilidad social, bajos ingresos, bajo nivel educativo, deficiencias de saneamiento básico y limitado acceso a servicios de salud.

                p El Instituto Colombiano de Bienestar Familiar (ICBF) como la entidad del Estado colombiano que trabaja por la prevención y protección integral de la primera infancia, la niñez, la adolescencia y el bienestar de las familias en Colombia, debe adelantar acciones que promueven su desarrollo y protección integral especialmente a aquellos en condiciones de amenaza, inobservancia o vulneración de sus derechos; la seguridad alimentaria y nutricional enmarcada en el enfoque de derecho humano a la alimentación, es un factor determinante que redunda en el bienestar físico, la salud y el adecuado estado nutricional de las generaciones futuras de colombianos, por lo que adelantar acciones de información, educación y comunicación a través de herramientas educativas, como el presente curso virtual, contribuye a fortalecer las capacidades técnicas de los agentes educativos institucionales del ICBF y genera una comprensión más amplia, integral e interdisciplinaria de esta problemática. Contar con elementos contextuales, con soporte científico y el reconocimiento de saberes, permite orientar a las familias en la toma de decisiones oportunas e informadas, sobre prácticas que previenen la aparición de la anemia, especialmente la anemia nutricional.


        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Agentes educativos institucionales del ICBF: todos los colaboradores del ICBF (planta-contratistas) y de las entidades administradoras de servicios (operadores), que interactúan de una u otra manera en la atención integral de niños, niñas, adolescentes y sus familias, agenciando su desarrollo y bienestar, entre ellos, la promoción de hábitos y estilos de vida saludable. Es decir, los profesionales de las ciencias sociales, de la salud y nutrición, docentes, técnicos y tecnólogos.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p El curso busca promover desde la apropiación de conceptos y la revisión de casos, el reconocimiento de las acciones necesarias para la prevención de la anemia nutricional, siendo fundamental para favorecer la salud y calidad de vida especialmente de los niños y niñas menores de 5 años, de las mujeres gestantes y madres en periodo de lactancia.

                p La estrategia metodológica se centra en la construcción de autonomía para garantizar la calidad de la formación en el marco del aprendizaje por competencias y uso de técnicas didácticas activas que estimulan el pensamiento para el análisis de situaciones problemáticas denominadas casos (simulados y reales); soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El instructor  
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Tutor 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El entorno 
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Las TIC

        +creditosFooter("assets/images/logos/senaLogo.svg")





